/*custom variables*/
:root {
  --primary-color: #114a9f;
  --secondary-color: #a9f1bc;
  --accent-color: hsla(229, 62%, 88%, 1);
  --accent-color2: #b8c2f5;
  --dark-color: #121212;
  --text-color: hsla(0, 0%, 11%, 0.75);
  --bg-color: #f5f4fc;
  --font-xl: 7.5rem;
  --font-md: 2.2rem;
  --font-sm: 1.6rem;
  --font-xs: 1.4rem;
  --font: Poppins, Roboto;
  --main-space-top: 10rem;
  --projects-parent-left: 1.8rem;
  --skills-parent-left: 1.1rem;
  --transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*base styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/*focus*/
*:focus {
  outline: dashed 2px var(--primary-color);
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100%;
  font-family: var(--font);
  color: var(--dark-color);
  background-color: var(--bg-color);
}
ul,
li {
  list-style: none;
}
p,
li {
  font-size: var(--font-xs);
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/****************
      LAYOUTS
*****************/
.l-sidebar {
  position: absolute;
  top: 20px;
  left: 7.5rem;
}
.l-main {
  display: flex;
  justify-content: space-between;
  padding: var(--main-space-top) 7.5rem;
}
.l-skills {
  flex-shrink: 0;
  order: -1;
}
.l-profile {
  max-width: 70vw;
  margin-left: 1rem;
}
.l-header {
  position: relative;
  padding-bottom: 8rem;
}
.l-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
}
.l-experience,
.l-projects {
  padding-top: 6rem;
}
.l-skills {
  padding-top: 7rem;
}
.l-familiar {
  margin-top: 5rem;
}

/****************
      MODULES
*****************/

/*LOGO*/
.logo,
.logo img {
  width: 60px;
  height: 60px;
}
.logo {
  margin-right: 10px;
}

/*HEADING*/
.heading {
  position: relative;
  color: var(--primary-color);
  font-size: var(--font-xl);
  font-weight: bold;
  line-height: 120%;
  z-index: 0;
}
.heading:before {
  content: "";
  position: absolute;
  top: calc(-1 * var(--main-space-top));
  left: -0.7rem;
  width: 110px;
  height: calc(100% + var(--main-space-top) + 1rem);
  background-color: var(--accent-color);
  z-index: -1;
}

/*SOCIALS*/
.socials {
  display: flex;
  margin-top: 4rem;
}
.socials__item:not(:last-child) {
  margin-right: 1.5rem;
}
.socials__link {
  display: inline-block;
  transition: transform var(--transition);
}
.socials__link:hover {
  transform: translateY(-3px);
}

/*USERNAME*/
.username {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.username svg {
  margin-right: 0.6rem;
}

/*TAGLINE*/
.tagline {
  position: relative;
  display: inline-block;
  color: var(--primary-color);
  font-size: var(--font-md);
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 3rem;
}
.tagline:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 101%;
  height: 1rem;
  background-color: var(--secondary-color);
  z-index: -1;
}

/*SUMMARY*/
.summary {
  font-size: var(--font-sm);
  font-weight: normal;
  line-height: 1.5;
}

/*SECTION HEADING*/
.section-heading {
  font-size: var(--font-md);
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 2.5rem;
}

/*EXPERIENCE*/
.experience__heading {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.experience__details {
  font-weight: 400;
  line-height: 150%;
}
.experience__projects {
  margin-top: 0.8rem;
}
.experience__projects a {
  text-decoration-line: underline;
}

/*PROJECTS*/
.projects {
  margin-left: var(--projects-parent-left);
}
.projects__heading {
  position: relative;
  font-size: var(--font-sm);
}
.projects__heading:after {
  content: "";
  position: absolute;
  left: calc(-1 * var(--projects-parent-left));
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--dark-color);
}
.projects__item {
  margin-bottom: 2rem;
}
.projects__summary {
  margin-top: 1rem;
}
.projects__links {
  margin-top: 0.9rem;
}
.projects__links a {
  display: inline-block;
  transition: transform var(--transition);
  width: 44px;
}
.projects__links a:hover {
  transform: translateY(3px);
}
.projects__code {
  margin-left: 1.7rem;
}
.projects__outro a {
  background-color: var(--accent-color);
  transition: background-color var(--transition);
}
.projects__outro a:hover {
  background-color: var(--accent-color2);
}

/*SKILLS*/
.skills {
  margin-left: var(--skills-parent-left);
}
.skills__item {
  position: relative;
  margin-bottom: 1rem;
}
.skills__item:before {
  content: "";
  position: absolute;
  left: calc(-1 * var(--skills-parent-left));
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--dark-color);
}

/*************************
      MEDIA QUERIES
**************************/
@media screen and (max-width: 999px) {
  .l-profile {
    max-width: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .l-main {
    flex-direction: column;
    padding: 1rem 5rem;
  }
  .l-sidebar {
    left: 5rem;
  }
  .l-profile {
    margin-left: 0;
    margin-top: 5rem;
    max-width: 100%;
  }
  .l-familiar {
    margin-top: 3rem;
  }
  .heading:before {
    display: none;
  }
  .tagline:after {
    display: none;
  }
  .section-heading {
    margin-bottom: 1.5rem;
  }
  .experience__heading {
    flex-direction: column;
  }
  .experience__heading span:last-child {
    margin-top: 0.6rem;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .skills__item {
    margin-bottom: 0;
  }
  .skills__item:before {
    display: none;
  }
  .skills__item:not(:last-of-type):after {
    content: ",";
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 425px) {
  .l-main {
    padding: 1rem 1rem;
  }
  .l-sidebar {
    left: 1rem;
  }
}
@media screen and (min-width: 999px) {
  .summary,
  .experience__projects,
  .experience__details {
    max-width: 70%;
  }
}
@media screen and (min-width: 791px) {
  .socials__item--gmail {
    display: none;
  }
}
/*Accesisbility styles*/
.visuallyHidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
